<h3>Formulario de contacto</h3>
<form action="">
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder=" E-mail">
    <input type="text" placeholder="Numero de telefono">
</form>